extends layout

block content
    .inner
        //- Header is either the tag value or it says Tags if no tag value
        h2 #{tag || 'Tags'}
        ul.tags
            each t in tags
                li.tag
                //- adding a class this way to add an active class. ternary operator for if tag id is equal to tag, then class is tag__link--active, otherwise, no second class
                a.tag__link(href=`/tags/${t._id}` class=(t._id === tag ? 'tag__link--active' : ''))
                    span.tag__text= t._id
                    span.tag__count= t.count
